@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000');
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.form-head {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 1rem;
}
.form-container {
    width: 300px;
    margin: 1rem auto;
    padding: 1rem 3rem;
    border-radius: 1rem;
    background-color: rgb(42, 63, 164);
}

.form-field > input {
    text-align: center;
    margin: 0.5rem;
    padding: 1rem 0;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.form-button {
    width: 100%;
    background: rgb(15, 114, 46);
    color: #fff;
    border: none;
    padding: 1rem 5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}

.card-container {
    background-color: rgb(60, 131, 159);
    width: 300px;
    margin: 1rem auto;
    padding: 1rem 3rem;
    border-radius: 1rem;
}

.edit-button {
    background: rgb(50, 74, 181);
    border: none;
    width: 30%;
    margin-top: 1rem;
    border-radius: 8px;
    color: #fff;
    padding: 1rem;
}

.delete-button {
    background: rgb(211, 61, 61);
    border: none;
    width: 30%;
    margin-top: 1rem;
    border-radius: 8px;
    color: #fff;
    padding: 1rem;
}
